::-webkit-scrollbar {
  width: 7px;
  height: 7px;
}

::-webkit-scrollbar-track {
  background: #2b2b2b;
}

::-webkit-scrollbar-thumb {
  background: rgba(90, 88, 90, 0.959);
  border-radius: 12px;
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(54, 53, 54, 0.959);
  border-radius: 12px;
}

.editor-container {
  width: 100%;
  height: 96vh !important;
  box-sizing: border-box;
  background-color: white !important;
}

.editor-title {
  height: 50px;
  border: none;
  outline: none;
  /* padding: 5px; */
  font-size: 21px;
  flex: 1;
  background-color: #2b2b2b;
  color: white;
  padding-left: 18px;
}

.editor-header {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  background-color: #2b2b2b;
  color: #fff;
}

.image {
  width: 700px;
  height: 700px;
}

.icon {
  font-size: 23px;
  cursor: pointer;
}

.footer {
  text-align: center;
  font-weight: 700;
}

.editor-titleicon {
  margin: auto;
  padding-left: 8px;
}

.editor-fullscreen {
  margin: auto;
  padding-right: 8px;
  z-index: 999;
}

.all-notes {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 22px;
}

.note-img {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.drawer-header {
  background-color: #2b2b2b;
  height: 60px;
  padding: 0px 16px 0px 16px;
  justify-content: space-between;
}

@media only screen and (min-width: 681px) {
  .mobile-home {
    display: none;
  }
}

@media only screen and (max-width: 681px) {
  .image {
    width: 300px;
    height: 300px;
  }
}
